---
const { title, img, desc, url, badge, badgeHome, tags, target = "", pubDate, imgBg } = Astro.props;
import { map } from "astro/zod";
import { Image } from "astro:assets";
const tag_url = url.split("/").slice(0, -1).join("/") + "/tag";
---

<div class="rounded-lg bg-base-100 hover:shadow-xl transition ease-in-out hover:scale-[102%]">
	<a href={url} target={target}>
		<div class="hero-content flex-col md:flex-row">
			{
				img && (
					<Image
						src={img}
						width={750}
						height={422}
						format="webp"
						alt={title}
						class="max-w-full md:max-w-[13rem] md:h-[117px] rounded-lg bg-base-content"
						style={imgBg ? `background-color: ${imgBg}; padding: 1rem;` : ""}
					/>
				)
			}
			<div class="grow w-full">
				<h1 class="text-xl font-bold">
					{title}
					{badgeHome && badgeHome.map((b) => <div class="badge badge-secondary mx-2">{b}</div>)}
					{badge && <div class="badge badge-secondary mx-2">{badge}</div>}
				</h1>
				<p class="py-1 text-1xl">{desc}</p>

				{pubDate && <p>{pubDate}</p>}
				<div class="card-actions justify-end">
					{
						tags &&
							tags.map((tag) => (
								<a href={`${tag_url}/${tag}`} class="badge badge-outline">
									{tag}
								</a>
							))
					}
				</div>
			</div>
		</div>
	</a>
</div>
